/* ASIGNAMOS LAS FUENTES LOCALMENTE */
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans);
}

@font-face {
  font-family: Lora;
  src: url(../fonts/Lora/);
}

/* CONFIGURACIÓN MENÚ NAVEGACIÓN RESPONSIVE*/
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: Lora;
}

nav{
  background-color: white;
  /* height: 80px; */
  width: 100%;
}

a.mainLogo{
  color: black;
  font-size: 2.4rem;
  line-height: 80px;
  margin: 0 0 0 10%;
  font-weight: 400;
}

h1, h2, h3, h4{
  font-family: "Lora", serif;
  text-transform: lowercase;
  letter-spacing: 0.25rem;
  font-weight: lighter;
  line-height: 1.2;
}
/* PREGUNTAR COMO SUMARLO CON LAS DEMAS ETIQUETAS (OPTIMIZACIÓN) */
a.mainLogo:hover{
  color: #c3a764;
}

nav ul{
  float: right;
  margin-right: 10%;
}

nav ul li{
  display: inline;
  line-height: 80px;
  margin: 0 20px;
}

nav ul li a{
  color: black;
  font-size: 14px;
  text-transform: uppercase;
}

nav ul li a:hover{
  color: #c3a764;
  text-decoration: underline #c3a764;
}

.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

/* HERO SECTION */

section{
  margin: 2% 2% 2% 2%;
}


.gridhero{
  margin: 5% 5% 5% 5%;
  /* display: grid; */
  display: flex;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.colhero_pic{
padding: 5%;
flex: 1;

}

.colhero_text{
  display: auto;
}

.colhero:nth-child(2){
  background-color: yellow;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 60px;
  font-weight: 100;
}

.colhero img {
  width:100%;
  padding-left: 0%;
  
}

.colheroabout_left img{
  width: 100%;
  /* width:clamp(200px, 80%, 600px ); */
  border-radius: 2%;
  margin: auto;
}

.colheroabout_right{
  margin-left: 5%;
  font-size: 2.5rem;
  
}

.colheroabout_right p{
  font-size: 75%;
  margin-left: 5%;
}

.skills-table{
  margin: 2% 20% 2% 20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  align-items: center;
  
}

.skills-table i {
  font-size: 60px;
  text-align: center;
  margin: 5% 20% 12% 2%;
}

.skills-table i p{
  font-family: "Font Awesome 6 Brands";
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  font-size:small;
  margin: 12px 0 0 0;
}

.socials i{
  margin: 5% 0% 5% 5%;
  color: black;
}

.socials i:hover{
  color: #c3a764;
}

.skills-table i:hover{
  color: #c3a764;
}

.skills-table i p:hover{
  color: #c3a764;
}

.notion{
  margin: 2% 20% 12% 20%;
  height: 45px;
  width: 45px;
}

.skills h1{
  margin: 0 0 0 20%;
}


/* .herotext{
  display: flex;
  justify-content: center;
  align-items: top;
} */
.travel{
  margin: 0 0 0 20%;
}

.pics{
  display: flex;
  justify-content: center;
  
}

.pics img{
  width: 20%;
  margin:1% ;
  border-radius: 2%;
}



footer{
  background-color: lightgrey;
}
.col1foot{
  display: inline;
  grid-template-columns: 25% 25% 25%;
  
}

/* .col2foot{
  display: inline; 
}
 */
 
/* MEDIA QUERY PARA BOTÓN  */

@media (max-width: 952px) {
  label.logo{
    font-size: 30px;
    /* padding-left: 50px; */
  }
  nav ul li a{
    font-size: 16px;
  }
}


@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  a.mainLogo{
    margin: 0 0 0 20%;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }


nav ul li{
  display: block;
  margin: 50px 0;
}
nav ul li a{
  font-size:20px;
}
a:hover,:active{
  background: none;
  color: #c3a764;
}

#check:checked ~ ul{
  left: 0;
}
}